In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category,lat,lng
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate,44.7444,44.2031
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-5.2900,-44.4900
2,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-11.2958,-41.9869
3,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate,37.1667,15.1833
4,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good,53.0167,20.8833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16690,United States of America,Highland Springs,54,Moderate,1,Good,34,Good,5,Good,54,Moderate,37.5516,-77.3285
16691,Slovakia,Martin,71,Moderate,1,Good,39,Good,1,Good,71,Moderate,49.0650,18.9219
16692,Slovakia,Martin,71,Moderate,1,Good,39,Good,1,Good,71,Moderate,36.3385,-88.8513
16693,France,Sceaux,50,Good,1,Good,20,Good,5,Good,50,Good,48.7786,2.2906
16694,United States of America,Westerville,71,Moderate,1,Good,44,Good,2,Good,71,Moderate,40.1241,-82.9210

In [4]:
# choose Country Australia and Malaysia
df = df[(df['Country'] == 'Australia') | (df['Country'] == 'Malaysia')]

In [5]:
df

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category,lat,lng
139,Australia,Geraldton,29,Good,0,Good,29,Good,0,Good,13,Good,-28.7744,114.6089
209,Malaysia,Batu Gajah,92,Moderate,2,Good,57,Moderate,1,Good,92,Moderate,4.4667,101.0500
588,Malaysia,Lahad Datu,48,Good,1,Good,15,Good,0,Good,48,Good,5.0300,118.3400
1143,Australia,Ballarat,22,Good,0,Good,13,Good,6,Good,22,Good,-37.5608,143.8475
1447,Australia,Ballina,34,Good,0,Good,34,Good,1,Good,15,Good,-28.8333,153.5333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15826,Malaysia,Sibu,61,Moderate,3,Good,21,Good,0,Good,61,Moderate,2.3000,111.8167
16072,Malaysia,Kuching,46,Good,1,Good,16,Good,0,Good,46,Good,1.5575,110.3439
16455,Australia,Caloundra,28,Good,0,Good,28,Good,2,Good,17,Good,-26.7986,153.1289
16507,Malaysia,Taiping,131,Unhealthy for Sensitive Groups,3,Good,24,Good,10,Good,131,Unhealthy for Sensitive Groups,4.8500,100.7333
16584,Malaysia,Teluk Intan,90,Moderate,2,Good,57,Moderate,1,Good,90,Moderate,4.0259,101.0213

In [6]:
df.to_csv('data_selected.csv', index=False)